/* 62.5% of 16px = 10px */

/* color accent */
.--red {
  color: #cb3333;
}
.--green {
  color: green;
}

.--yellow {
  color: rgb(101, 101, 17);
}

.--orange {
  color: orange;
}
/* color palette */
:root {
  --color-primary: #333;
}

/* Apply general styling for all devices */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* set default styles for the page */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

.body--blog {
  font-family: "iki";
  margin: 40px 180px;
}

nav {
  display: flex;
  margin-right: 1.5rem;
  align-items: center;
}

hr {
  width: 40vw;
  margin: auto;
}

/* style the header */
header {
  background-color: #333;
  color: #fff;
  padding: 5px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

p {
  font-size: 1.8rem;
}

.p--first::first-letter {
  font-size: 180%;
}

h1 {
  font-size: 2.6rem;
  position: relative;
  text-align: center;
}

.h1--blog {
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li:hover {
  scale: 1.2;
}

nav a {
  color: #fff;
  text-decoration: none;
}

.general--link {
  font-size: 1.2rem;
  text-align: right;
  text-decoration: none;
  display: block;
}

.general--link:hover {
  text-decoration: underline;
}

.language-menu {
  position: relative;
}

.language-menu ul {
  margin: 0;
  padding: 0;
  background-color: #221f1f;
  border: 1px soild #f8f8f8;
  box-shadow: 0px 1px 10px rgb(37, 33, 33);
  border-radius: 5px;
  display: none;
}

.language-menu ul li {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.language-menu ul li a {
  width: 120px;
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
}

.language-menu ul li a::before {
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 28px;
  height: 28px;
}

.language-menu .language-list li:hover {
  background-color: #706666;
  border-radius: 5px;
}

.language-menu:hover ul {
  display: block;
}

.language-list {
  display: block;
  position: absolute;
  top: 0;
  left: -30%;
}

.language-list li:hover {
  scale: none;
}

.en::before {
  background-image: url(/images/icon/lang-English.png);
}

.cn::before {
  background-image: url(/images/icon/lang-Chinese.png);
}

.selected-language {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.selected-language::before {
  margin-right: 6px;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(/images/icon/lang-English.png);
}

.selected-cn::before {
  margin-right: 6px;
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(/images/icon/lang-Chinese.png);
}
/* style weather module */
.card {
  text-align: center;
  background: #372f2f;
  width: 90%;
  margin: 10px auto 0px;
  border-radius: 50px;
  border: 3px #000000 solid;
  padding: 10px 20px;
}

.search {
  display: flex;

  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.search input {
  border: 10px;
  outline: 0;
  background: #807474;
  margin-right: 20px;
  flex: 1;
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 20px;
}

::placeholder {
  color: #d1d1d1;
}

.search .btn {
  background: #807474;
}

.search .btn img {
  width: 30px;
}

.weather {
  display: none;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
  color: white;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
  color: white;
}

.card p {
  color: white;
  font-size: 22px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.error {
  display: none;
}
/* style the main content */

article {
  margin-bottom: 30px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
h2 {
  margin-top: 0;
  font-size: 2rem;
}

.h2-center {
  text-align: center;
}

h3 {
  font-size: 220%;
  text-align: center;
}

.prompt {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  visibility: hidden;
  position: relative;
  bottom: 50px;
  cursor: pointer;
}
.image-comment {
  color: #615b5b;
  font-size: 120%;
  text-indent: 0%;
}

.time-line {
  text-align: center;
  color: #615b5b;
  font-size: 130%;
  text-indent: 0%;
}
/* style the footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin: 10px 0 0;
}

/* images  */

.main-picture {
  border-radius: 30px;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transition-delay: 0.3s;
  max-width: 90%;
  height: 400px;
  justify-items: center;
}

.main-picture-right {
  position: relative;
  left: 10%;
}

.article-picture {
  max-width: 100%;
  border-radius: 30px;
}

.content-right:hover .main-picture {
  transform: translate(50px);
}

.content-right:hover .main-picture2 {
  transform: translate(-50px);
}

.selfie {
  position: relative;
  left: 8%;
}

.article-picture {
  max-width: 100%;
}

.content-right {
  display: flex;
  justify-content: center;
}

.content-right:hover .selfie {
  transform: none;
}

.content-right:hover .prompt {
  visibility: visible;
}

/* Cantainers and boxes */
.container {
  border: #333 soild lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.box {
  width: 5rem;
  height: 5rem;
  background: #333;
  margin: 1rem;
  flex-grow: 1;
  border-radius: 3rem;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template: repeat(1, 400px) / 50fr 50fr;
  margin: 70px 70px 55px;
  gap: 10px;
  justify-items: center;
}

.grid-container2 {
  display: grid;
  grid-template: repeat(1, 400px) / 50fr 50fr;
  margin: 70px 50px 55px;
  gap: 40px;
}

.grid-articlecontainer {
  display: grid;
  grid-template-columns: 20% 80%;
}

.fortext {
  overflow: auto;
}

.grid-box {
  background-color: #333;
}

.image-container {
  position: relative;
}

.homecontainer {
  background-image: url(/images/1.jpg);
  background-size: 100% 100%;
  flex-direction: row;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  color: #fff;
  height: 100vh;
}

.homecontainer--showyourwork {
  background-image: url(/images/article/shareyourwork3.jpg);
  background-size: 100%;
  height: 75vh;
}

/* hover */
.box:hover {
  transform: perspective(200px) rotateX(45deg);
}

/* image */
.icon {
  z-index: 1;
  width: 50px;
  height: 50px;
}

.icon--right {
  position: relative;
  right: -20px;
}

.icon:hover {
  scale: 1.15;
}

/* text */
.title {
  font-size: 60px;
  text-align: center;
  padding: 100px;
  font-family: "rifficbook";
  position: relative;
  top: 60px;
  overflow: hidden;
}

.headbar-title {
  font-family: "rifficbook";
  position: absolute;
  left: 70px;
  cursor: pointer;
}

.headbar-title:hover {
  scale: 1.1;
}

.main-paragraph {
  font-family: "iki";
}

/* collapisble element */

.icon--right {
  display: none;
}

.collapisble__content {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: "rifficbook";
  src: url("fonts/fontspring-demo-riffic-book-webfont.woff2") format("woff2"),
    url("fonts/fontspring-demo-riffic-book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iki";
  src: url(/css/fonts/aaargh-webfont.woff) format("woff");
}
/* buttons */
.btn {
  font-size: 2.5rem;
  font-family: "rifficbook";
  border-radius: 20px;
  padding: 3px 10px;
  cursor: pointer;
  border: 0;
}

.btn--primary {
  background-color: #333;
  color: #fff;
  transition: transform 1.5s;
  position: relative;
  bottom: 10px;
}

.btn--primary:hover {
  background: #262525;
  transform: scale(1.2);
}

/* input */
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #fff;
}
/* responsive design */ /* responsive design */ /* responsive design */
/* responsive design */ /* responsive design */ /* responsive design */
/* Apply specific styling for mobile devices */ /* responsive design */
@media screen and (max-width: 1000px) {
  .headbar-title {
    left: 60px;
    font-size: 2rem;
  }

  h1 {
    font-size: 1.3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.2rem;
  }

  .homecontainer {
    background-size: 100% 80%;
    height: 80vh;
  }
  .homecontainer--showyourwork {
    height: 70vh;
  }

  .title {
    font-size: 36px;
    position: relative;
    padding: 80px;
    top: 20px;
  }
  .main-picture {
    height: 300px;
  }
  .selfie {
    left: 0%;
  }

  .main-picture-right {
    left: 0;
  }

  .btn--primary {
    font-size: 1.5rem;
    position: relative;
    top: -50px;
  }

  .grid-container {
    grid-template: repeat(2, auto) / 1fr;
    margin: 50px 10px;
  }

  hr {
    width: 80%;
  }
  .grid-articlecontainer {
    grid-template-columns: 0 100%;
  }

  .body--blog {
    margin: 50px 60px;
  }
}
@media screen and (max-width: 680px) {
  .icon--right {
    display: block;
  }

  .collapisble__content {
    display: block;
    position: absolute;
    border: 2px solid #000000;
    top: 60px;
    background-color: #333;
    padding: 5px;
    border-radius: 5px;
    right: 1.3px;
  }

  .collapisble__content li:hover {
    background-color: #706666;
    border-radius: 5px;
  }
  .collapisble--expanded .collapisble__content {
    display: none;
  }

  .language-menu {
    position: static;
  }

  .language-list {
    top: 63px;
  }

  .body--blog {
    margin: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .card {
    margin-bottom: 55px;
  }

  .headbar-title {
    font-size: 1.54rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .homecontainer {
    background-size: 100% 380px;
    background-repeat: no-repeat;
    height: 55vh;
    position: relative;
  }

  .homecontainer--showyourwork {
  }

  .title {
    font-size: 30px;
    position: relative;
    padding: 80px;
    top: 20px;
  }
  .main-picture {
    height: 200px;
  }

  .btn--primary {
    font-size: 1.3rem;
    position: relative;
    top: -50px;
  }

  .grid-container--general {
    margin: -40px 0;
  }

  .grid-container {
    margin: 30px;
  }

  .details {
    justify-content: space-between;
  }

  .search input {
    margin-right: 10px;
    width: 80%;
  }
}
