<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <header>
      <a href="https://thinkaboutmoonlight.com"
        ><img class="icon" src="/images/icon.png" alt=""
      /></a>

      <h1 class="headbar-title">Thinkaboutmoonlight</h1>

      <nav class="collapisble collapisble--expanded">
        <img class="icon icon--right" src="/images/icon-right.svg" alt="" />
        <ul class="collapisble__content">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div class="language-menu">
          <div class="selected-language">English</div>
          <ul class="language-list">
            <li>
              <a href="/article" class="en">English</a>
            </li>
            <li>
              <a href="/article" class="cn">中文</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="homecontainer homecontainer--showyourwork"></div>
    <div class="body--blog">
      <div class="grid-articlecontainer">
        <div></div>
        <div>
          <h1 class="h1--blog">Why show your work</h1>
          <br />
          <p class="time-line">Last updated in 10/12/2023 Guangzhou</p>
          <p class="p--first"></p>
        </div>
      </div>
    </div>
    <footer>
      <p>&copy; 2023 My Personal Blog</p>
      <a href="#" class="icon"></a>
    </footer>
    <script src="/JS/test.js"></script>
  </body>
</html>
