<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>转载--比特币新手</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header>
    <a href="https://thinkaboutmoonlight.com"
      ><img class="icon" src="/images/icon.png" alt=""
    /></a>

    <h1 class="headbar-title">想想月光会怎么做</h1>

    <nav class="collapisble collapisble--expanded">
      <img class="icon icon--right" src="/images/icon-right.svg" alt="" />
      <ul class="collapisble__content">
        <li><a href="#">主页</a></li>
        <li><a href="#">关于</a></li>
        <li><a href="#">联系</a></li>
      </ul>
      <div class="language-menu">
        <div class="selected-language selected-cn">中文</div>
        <ul class="language-list">
          <li>
            <a href="/article" class="en">English</a>
          </li>
          <li>
            <a href="/article" class="cn">中文</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <body>
    <div class="homecontainer homecontainer--showyourwork"></div>
    <div class="body--blog">
      <div class="grid-articlecontainer">
        <div></div>
        <div>
          <h1 class="h1--blog">转载--《比特币新手》</h1>
          <br />
          <p class="time-line">更新于2023/10/15 广州</p>
          <p class="p--first">好的，让我们谈谈加密货币。 <br /><br /></p>
        </div>
      </div>
    </div>

    <footer>
      <p>&copy; 2023 My Personal Blog</p>
      <a href="#" class="icon"></a>
    </footer>
    <script src="/JS/main.js"></script>
  </body>
</html>
